<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Boogle Page</title>
        <link rel="stylesheet" href="/static/css/boogle-css/style.css">
        <script src="https://kit.fontawesome.com/35c8a2fe03.js" crossorigin="anonymous"></script>
    </head>

    <body>
          <div class="home">
                <a  href="https://google.com" target="blank">Nov zavihek</a>
        </div>
          <hr>
        <header class="header">
            <div class="links">
                <a href="#">Gmail</a>
                <a href="#">Slike</a>
                <a href="#" class="more-info" aria-label="Booglove aplikacije"><i class="fa-solid fa-bars"></i></a>
            </div>
        </header>

        <main class="main">
                <h1 class="title">
                <span class="blue">B</span>
                <span class="red" >o</span>
                <span class="yellow">o</span>
                <span class="blue">g</span>
                <span class="green">l</span>
                <span class="red">e</span>
                 </h1>
            <div class="search-field">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input class="input-field" type="text" placeholder="Iščite v booglu ali vnesite URL">
            </div>
        </main>

        <footer class="footer1">
            <h3>Avtor: UROŠ ROJNIK</h3>
        </footer>
    </body>
</html>
