<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="fakebook-page">
        <meta name="author" content="Uroš Rojnik">
        <title>Fakebook-Uroš</title>
        <link rel="stylesheet" href="/static/css/fakebook-css/style.css">
    </head>
    <body>
          <h1>FAKEBOOK PAGE</h1>
          <hr>
          <h2>UROŠ ROJNIK</h2>
          <h3>Profile picture:</h3>
          <img class="image" src="/static/img/fakebook-img/profilna.jpg" alt="profile picture">
          <ul class="list">
              <li><span class="bold">Age:</span> 26</li>
              <li><span class="bold">City:</span> Bratonci</li>
              <li><span class="bold">Country:</span> Slovenia</li>
              <li><span class="bold">Hobbies:</span> Sport:inline hockey, playing video games</li>
          </ul>
          <p><span class="bold">Number of friends:</span> 245.</p>
          <br>
          <span class="bold">Search friend:</span><br><input type="text" placeholder="type name">
          <button class="btn" type="button" name="button">Ad a friend</button>
    </body>
</html>
